.tour {
  // position: fixed;
  // left: 50%;
  // top: 50%;
  // max-height: 95vh;
  // transform: translate(-50%, -50%);
  // z-index: 999;
  // background-color: #deb887;
  // padding: 3rem 2rem;
  // border-radius: 10px;
  // width: 90%;
  // overflow-y: scroll;

  @media screen and (min-width: 768px) {
    width: 60%;
    height: fit-content;
  }

  .cancel {
    position: relative;
    .cancel-icon {
      position: absolute;
      top: -2rem;
      right: -1rem;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }

  .tour-details,
  .include,
  .exclude {
    background-color: #efefef;
    padding: 1rem;
    border-radius: 5px;
    h2 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .booking {
    div {
      background-color: #deb887;
      width: 130px;
      padding: 1rem;
      margin-top: 1rem;
      border-radius: 5px;
      font-size: 15px;
      &:hover {
        cursor: pointer;
        background-color: #e6e6e6;
      }
    }
  }
}
